<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bf.qinx.hostofplugin">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".merge.MyApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/foreigner"
        android:roundIcon="@drawable/foreigner_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- 宿主主界面activity -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <!-- 静态代理占坑Activity -->
        <activity android:name=".loadByStaticProxy.ProxyActivity"/>

        <!-- 动态代理占坑Activity -->
        <activity android:name=".StubActivity"/>
        <activity android:name=".SecondActivity" />
        <activity android:name=".ThirdActivity"
            android:taskAffinity="com.bf.qinx.hostofplugin2"
            />
    </application>

</manifest>